{
  "name": "@ocluso/ocluso",
  "private": true,
  "dependencies": {
    "vue": "^3.0.4",
    "@ocluso/core": "0.1.0"{{ range .Modules }},
    "@ocluso/mod-{{.}}": "0.1.0"{{ end }}
  },
  "devDependencies": {
    "rollup": "^2.35.1",
    "rollup-plugin-css-only": "^3.1.0",
    "rollup-plugin-vue": "^6.0.0",
    "@rollup/plugin-node-resolve": "^11.0.1",
    "@rollup/plugin-replace": "^2.3.4",
    "@vue/compiler-sfc": "^3.0.4"
  },
  "scripts": {
    "build": "rollup -c rollup.config.js && cp index.html ../output/frontend/index.html"
  }
}